.card {
    display: flex;
    flex-direction: column;
    width: 350px;
    border-radius: 1em;
    padding: 1em;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', sans-serif;
    background-color: var(--main-dark);
}

.imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    width: 250px;
    height: 350px;
    border-radius: 1em;
    object-fit: cover;
}

.info {
    padding: 16px;
    flex: 1;
}

.name {
    margin: 0 0 10px;
    font-size: 1.8em;
    color: #7a1414;
}